/*-------------User Profile page css-----*/

#profile-update-form .form-control {
    color: rgb(14, 51, 16);
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: rgb(14, 51, 16);
}

#id_default_country option:first-child {
    color: #aab7c4;
}

/*-------------User Profile page css - ORDER HISTORY SECTION-----*/
.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}