html {
  height: 100%;
}

/* -------------------------------- Homepage */
body {
  margin: 0;
  height: calc(100vh - 164px);
  color: rgb(10, 42, 30);
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

.homepage {
  position: absolute;
  height: 200%;
  width: 200%;
  top: 0;
  left: 0;
  background: url("/media/homepage_background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: rgb(25, 46, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay {
  position: absolute;
  height: 200%;
  width: 200%;
  top: 0;
  left: 0;
  background: url("/media/back4.jpg") no-repeat center center fixed;
  background-size: cover;
  color: rgb(25, 46, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-checkout {
  position: absolute;
  height: 200%;
  width: 200%;
  top: 0;
  left: 0;
  background: url("/media/back10.jpg") no-repeat center center fixed;
  background-size: cover;
  color: rgb(25, 46, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-product {
  position: absolute;
  height: 200%;
  width: 200%;
  top: 0;
  left: 0;
  background: url("/media/back8.jpg") no-repeat center center fixed;
  background-size: cover;
  color: rgb(25, 46, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay h1 {
  font-size: 65px;
  letter-spacing: 0px;
  margin: 0 0 5px;
}

.overlay p {
  margin: 0;
  font-size: 28px;
}

span.badge:hover {
  background: #0b380f !important;
  color: #fff !important;
}

.small {
  color: #0b380f !important;
}
/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
  font-weight: bold;
}

.logo-font-2 {
  color: whitesmoke;
}

.main-logo-link {
  width: fit-content;
}

.shop-now-button {
  background: rgb(10, 42, 30);
  color: white;
  min-width: 260px;
}

.btn-green {
  background: rgb(10, 42, 30);
  color: white;
}

.btn-outline-green {
    background: white;
    color: rgb(10, 42, 30) !important; 
    border: 1px solid green;
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background: rgb(10, 42, 30);
    color: whitesmoke !important;
}



.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
  background: rgb(10, 42, 30);
  color: white;
}

.text-green {
  color: rgb(10, 42, 30) !important;
}

.text-white {
  color: rgb(221, 235, 230) !important;
}

.border-green {
  border: 1px solid rgba(7, 43, 19, 0.952) !important;
}

.bg-green {
  background: #787 !important;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: rgba(26, 61, 41, 0.952) !important;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

.cart-header {
    font-size: 1.5em;
    
}


/* --------Product details page */

.care-delivery-collpase {
    color: rgb(10, 42, 30);

}
 .care-delivery-collpase:hover{
    color: #3e5717;
    text-decoration: none;
 }

 /* -------------------------------- Toast Messages*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid green;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* --------------------------------Account Profile CSS */

 .display-4.logo-font.text-green {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-green,
    .btn.btn-green {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-green.btn-lg,
    .btn.btn-green.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #637264; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #rgba(14, 83, 60, 0.472);
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #rgba(14, 83, 60, 0.472);
    border: 1px solid #rgba(14, 83, 60, 0.472);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: rgba(14, 83, 60, 0.472);
    border-color: rgba(14, 83, 60, 0.472);
}

.allauth-form-inner-content a {
	color: #204e55; /* text-info */
}
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}
