html {
  height: 100%;
}

/* -------------------------------- Homepage */
body {
  margin: 0;
  height: calc(100vh - 164px);
  color: rgb(10, 42, 30);
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

.homepage {
  position: absolute;
  height: 200%;
  width: 200%;
  top: 0;
  left: 0;
  background: url("/media/homepage_background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: rgb(25, 46, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay {
  position: absolute;
  height: 200%;
  width: 200%;
  top: 0;
  left: 0;
  background: url("/media/back4.jpg") no-repeat center center fixed;
  background-size: cover;
  color: rgb(25, 46, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-product {
  position: absolute;
  height: 200%;
  width: 200%;
  top: 0;
  left: 0;
  background: url("/media/back8.jpg") no-repeat center center fixed;
  background-size: cover;
  color: rgb(25, 46, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay h1 {
  font-size: 65px;
  letter-spacing: 0px;
  margin: 0 0 5px;
}

.overlay p {
  margin: 0;
  font-size: 28px;
}

span.badge:hover {
  background: #0b380f !important;
  color: #fff !important;
}

.small {
  color: #0b380f !important;
}
/* from Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

.logo-font {
  text-transform: uppercase;
  font-weight: bold;
}

.logo-font-2 {
  color: whitesmoke;
}

.main-logo-link {
  width: fit-content;
}

.shop-now-button {
  background: rgb(10, 42, 30);
  color: white;
  min-width: 260px;
}

.btn-green {
  background: rgb(10, 42, 30);
  color: white;
}

.btn-outline-green {
    background: white;
    color: rgb(10, 42, 30) !important; 
    border: 1px solid black;
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background: rgb(10, 42, 30);
    color: whitesmoke !important;
}



.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-green:hover,
.btn-green:active,
.btn-green:focus {
  background: rgb(10, 42, 30);
  color: white;
}

.text-green {
  color: rgb(10, 42, 30) !important;
}

.border-green {
  border: 1px solid rgba(7, 43, 19, 0.952) !important;
}

.bg-green {
  background: #787 !important;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: rgba(7, 43, 19, 0.952) !important;
}

.btt-link,
.update-link,
.remove-item {
  cursor: pointer;
}

.cart-header {
    font-size: 1.5em;
    
}


/* --------Product details page */

.care-delivery-collpase {
    color: rgb(10, 42, 30);

}
 .care-delivery-collpase:hover{
    color: #3e5717;
    text-decoration: none;
 }

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .header-container {
    padding-top: 164px;
  }
}
