<div class="collapse navbar-collapse " id="main-nav">
	<ul class="navbar-nav w-auto mx-auto">
       

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-green mr-5" href="{% url 'products' %}" id="desert-link" aria-haspopup="true" aria-expanded="false">
                All Plants
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-green mr-5" href="{% url 'products' %}?category=desert_plants" id="desert-link" aria-haspopup="true" aria-expanded="false">
                Desert Plants
            </a>
        </li>

        <li class="nav-item ">
            <a class="logo-font font-weight-bold nav-link text-green mr-5" href="{% url 'products' %}?category=rainforest_plants" id="rainforest-link" aria-haspopup="true" aria-expanded="false">
                Rainforest Plants
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-green" href="{% url 'products' %}?category=low_maintenance" id="low-main-link" aria-haspopup="true" aria-expanded="false">
                Low Maintenance
            </a>
        </li>

    </ul>
</div>
