{% extends "base.html" %} {% load static %}
{% block extra-title %}- {{blogpost.title}} {% endblock %} 
{% block content %}

{# @TODO: add background from backend with  #}
<div class="shadow"></div>

<div class="container header-container btt-link flex-fill">
    <div class="row mt-4 mb-1">
        <div class="col-lg-8 col-sm mx-auto">
            <a href="{% url 'blog' %}"><strong><small> <i class="fas fa-angle-left"></i>Return</small></strong></a>
        </div>
    </div>
	<div class="row mb-5 text-center">
		<div class="col">
			<h1>{{blogpost.title}}</h1>
			<hr class="separator w-25">
            {% if blogpost.subtitle %}
            <h4><i>{{blogpost.subtitle}}</i></h4>
            {% endif %}
		</div>
	</div>
    <div class="row">
        <div class="col-lg-8 col-sm mx-auto text-justify">
            <!-- Author/Date -->
            <small><p class="text-center">Author: {{blogpost.author.username}}</p></small>
            <small><p class="text-center">Published: {{blogpost.created_at|date:'d. M, Y'}}</p></small>
            <!-- Post Content -->
            <p class="lead">{{blogpost.body}}</p>
            <hr>
            
        </div>
    </div>
</div>

{% endblock %}