{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<h2 class="logo-font mb-4 text-center">{% trans "Sign In" %}</h2>
<hr>
{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p class="text-center">{% blocktrans with site.name as site_name %}If you have an already existing 
Google account use it. </p> <h6 class="text-center">Or <a href="{{ signup_url }}">SIGN UP</a>
for a {{ site_name }} account and then sign in below:{% endblocktrans %}</h6>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
  <a href="{% provider_login_url 'google' %}" class="btn btn-danger btn-md btn-block" role="button" aria-pressed="true">Sign in with Google</a>
  
  </ul>

  <div class="login-or text-center"><br><strong>{% trans 'I have a myGreenfriends account' %}</strong></div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-outline-green" href="{% url 'home' %}">Home</a>
  <button class="primaryAction btn btn-outline-green" type="submit">{% trans "Sign In" %}</button>
  <p class="mt-2">
  <a class="button secondaryAction btn btn-outline-warning" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </p>
  </form>

{% endblock %}
